{% extends "base.html" %}

{% block title %}
Over Ons
{% endblock %}

{% block contents %}

<section class="py-5">
    
  <div class="container">
    <h1 class="text-center mb-5">Welkom bij FilmsFan.nl!</h1>
    <div class="banner d-flex justify-content-center align-items-center">
        <img src="/static/images/banner.png" class="img-fluid" alt="FilmsFan.nl" >
      </div>
    
    <div class="row py-5">
      <div class="col-lg-6 mb-4 mb-lg-0 register-bg">
        <h2 class="text-danger">Over ons</h2>
        <p>FilmsFan.nl is een website voor filmliefhebbers die graag meer willen weten over hun favoriete films. Op onze website vind je informatie over duizenden films, van klassiekers tot de nieuwste blockbusters. Je kunt bij ons terecht voor het bekijken van trailers, het lezen van recensies en het vinden van de laatste nieuwtjes over films.</p>
        <p>Bovendien kun je bij ons de beste quotes uit films vinden. Ben je op zoek naar inspirerende citaten of gewoon wat grappige oneliners? Dan ben je bij FilmsFan.nl aan het juiste adres.</p>
      </div>
      <div class="col-lg-6 register-bg">
        <h2 class="text-danger">Onze missie</h2>
        <p>Bij FilmsFan.nl geloven we dat filmkijken meer is dan alleen ontspanning. Films hebben de kracht om ons te inspireren, te laten nadenken en emoties op te roepen. Onze missie is om deze krachtige ervaring met zoveel mogelijk mensen te delen. We willen filmliefhebbers helpen om meer uit hun filmervaring te halen en ze te inspireren om nieuwe films te ontdekken.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
