{% extends "base.html" %}

{% block title %}
Films
{% endblock %}

{% block contents %}
    <section id="home-movies" class="py-5">
        <div class="col-11 mx-auto">
            <div class="row">
                {% for movie in movies %}
                <div class="col-3 mb-4">
                    <a class="text-decoration-none text-white" href="{{ url_for('movie.movie_page', name=movie.title.replace(' ', '-'), id=movie.id) }}">
                        <div class="movie-wrapper w-100 text-center">
                            <img class="h-100 w-100" src="{{ movie.image }}" alt="{{ movie.title }}">
                            <div class="overlay"></div>
                            <span class="movie-title h5">{{ movie.title }}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}