{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block contents %}
    <section id="banner">
        <h1 class="text-center mt-2 mb-4">Bisho carrers</h1>
        <img id="banner" class="img-fluid" src="../static/banner.jpg" alt="">

        <h2 class="text-center  mt-2 mb-4">About Bisho</h2>
        <p class="lead" class="bodytext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>

    <section id="home-movies" class="py-5">
        <div class="col-11 mx-auto">
            <div class="row">
                {% for movie in movies %}
                <div class="col-3 mb-4">
                    <a class="text-decoration-none text-white" href="{{ url_for('movie.movie_page', name=movie.title.replace(' ', '-'), id=movie.id) }}">
                        <div class="movie-wrapper w-100 text-center">
                            <img class="h-100 w-100" src="../static/images/tt10366206.jpg" alt="{{ movie.title }}">
                            <div class="overlay"></div>
                            <span class="movie-title h5">{{ movie.title }}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}