<nav class="navbar navbar-expand-lg navbar-bg py-0">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="col-1"><a class="navbar-brand fw-bold text-white" href="/">FilmsFan.nl</a></div>
      <div class="collapse navbar-collapse col-7 ps-5" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link fw-bold text-white p-3 {% if current_user.is_admin %}d-none{% endif %}" href="/">Home</a>
          {% if current_user.is_admin %}
          <a class="nav-link fw-bold text-white p-3" href="{{ url_for('user.dashboard') }}">Dashboard</a>
          <a class="nav-link fw-bold text-white p-3" href="{{ url_for('user.film_manager') }}">Films beheer</a>
          <a class="nav-link fw-bold text-white p-3" href="{{ url_for('user.addfilm') }}">Film toevoegen</a>
          {% endif %}
          <a class="nav-link fw-bold text-white p-3" href="/films">Films</a>
          <a class="nav-link fw-bold text-white p-3" href="/about">Over ons</a>
        </div>
      </div>
      <div class="col-4 text-end">
        {% if current_user.is_authenticated %}
        <div class="row">
         
          <div class="col"><span class="fw-bold text-white px-3 py-2 d-inline">Ingelogd als:  <span class="text-dark  py-1">{{ session.username }}<br> ({{ session.firstname }} {{ session.lastname }})</span></span></div>
          <div class="col py-1"><a class="nav-link fw-bold text-white text-center py-2 just rounded-pill nav-btns " href="{{ url_for('user.logout') }}">Uitloggen</a></div>
        
        </div>
        {% else %}
        <a class="nav-link fw-bold text-white px-3 py-2 rounded-pill nav-btns d-inline me-3" href="{{ url_for('user.login') }}">Inloggen</a>
        <a class="nav-link fw-bold text-white px-3 py-2 rounded-pill nav-btns d-inline" href="{{ url_for('user.register') }}">Registreren</a>
        {% endif %}
    </div>
  </div>
</nav>