{% extends "base.html" %}

{% block title %}
Admin dashboard
{% endblock %}

{% block contents %}

<div class="row py-5">
    <h1 class="mb-4">Admin dashboard</h1>
    <div class="col-7">
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">Gebruikersnaam</th>
            <th scope="col">Voornaam</th>
            <th scope="col">Achternaam</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.username }}</th>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td class="text-center">
                    {% if user.is_admin %}
                        <span class="text-success">Admin</span>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="col-5">
        <div class="h5">Aantal Gebruikers: {{ users_count }}</div>
        <div class="h5">Aantal Films: {{ movies_count }}</div>
    </div>
</div>
{% endblock %}