{% extends "base.html" %}

{% block title %}
Inloggen
{% endblock %}

{% block contents %}
<div class="col-8 login-bg rounded mx-auto">
    <div class="row">
        <div class="col-6 p-5 border-form">
            <form method="post" action="">
                {{ form.hidden_tag() }}
                <div class="mb-3">{{ form.email.label(class="mb-2 fw-bold") }} {{ form.email(class="form-control", type="email") }}</div>
                <div class="mb-3">{{ form.password.label(class="mb-2 fw-bold") }} {{ form.password(class="form-control") }}</div>
                <div class="mb-3">{{ form.submit(class="btn submit") }}</div>
            </form>
        </div>
        <div class="col-6 p-5 text-center">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3 class="mb-4">Geen account nog? Je kan nu registreren!</h3>
                    <a class="text-decoration-none btn submit" href="#">Registreren</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}